


.FondInventaire
{
	-fx-background-color: #c7c7c7;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-border-color: #000000;
	-x-border-insets: 2;
	-fx-border-style: solid inside;
	-fx-border-width: 3 ;
}



.TexteMenuInventaire
{
    -x-alignment: center;
    -fx-font-size: 25;
    -fx-fill: #3d3d3d;
	-fx-font-family: 'Minecraft';
	src: url('/application/ressources/polices/minecraft.ttf');
}

.TexteDeCraft
{
	-fx-font-size: 25;
	-fx-fill: #3d3d3d;
	-fx-font-family: 'Minecraft';
	src: url('/application/ressources/polices/minecraft.ttf');
}

.NbRessources
{
	-fx-alignment: RIGHT;
	-fx-background-color: black;
    -fx-font-size: 15;
    -fx-fill: white;
	-fx-font-family: 'Minecraft';
	src: url('/application/ressources/polices/minecraft.ttf');
}

.TexteObjetInventaire
{
    -fx-font-size: 12;
    -fx-fill: white;
}
